$color-main: #A0A747;
$color-gray: #646562;
$color-primary: #1A1A1A;
$black: #000;
$color-brown: #773844;
$bg-color: #E5E5E5;
$line-primary: #EAE3D9;
$btn-color: #F5F3F0;
$color-blue: #1F2057;
$modern: #F7F1E9;
$color-blue_light: #0A3CE4;
$color-dbrown: #42352A;
$line-dark: #C2BDB6;
$color-yellow: #D5B753;
$color-binge: #D6D1B2;
$color-orange: #BE6833;
$oq: #E7E9D3;
$box: #F0ECE6;
$color_sky: #77DFE9;


$color_white_20: rgba(255, 255, 255, 0.2);
$color_white_60: rgba(255, 255, 255, 0.6);
$color_white_80: rgba(255, 255, 255, 0.8);

$lighter-gray: lighten($color-gray, 50%)